<md-dialog aria-label="Mango (Fruit)" layout-padding>
    <div style="width:400px;overflow-x:scroll">

    </div>


    <div  layout="row" layout-margin >
        <md-dialog-content class="sticky-container" flex >
            <h3 class="text-capitalize">{{type}}</h3>
            <div layout="row">
                I want to {{type}} this plate. Confirm your email address and submit
            </div>




            <div layout="row" style="margin-top:10px">

                <md-input-container  >
                    <label>AED</label>
                    <input ng-model="aed" name="aed" type="number" required >
                </md-input-container>


            </div>

            <div layout="row" style="margin-top:10px" layout-align="end end">

                <md-button class="md-raised md-primary" ng-click="close()" ng-disabled="!aed">
                    Ok
                </md-button>
                <md-button class="md-raised md-primary" ng-click="close()">
                    Not
                </md-button>

            </div>

        </md-dialog-content>

    </div>



</md-dialog>