
<section layout="row" flex >

    <md-content flex style="max-height : 700px;">
        <md-toolbar layout="row" layout-align="start center" class="toolbar" style="background-color: white">

            <div flex="10">
                <img src="../images/dash-logo.png" style="max-width:50px; max-height:50px">

            </div>

            <div flex="50">

            </div>

            <div flex="10">
                <a href="/" class="toolbar-links"> home</a>
            </div>

            <div flex="10">
                <a href="javascript:void(0)" class="toolbar-links"> blog</a>
            </div>

            <div flex="10">
                <a href="javascript:void(0)" class="toolbar-links"> about</a>
            </div>

            <div flex="10">
                <a href="javascript:void(0)" class="toolbar-links"> [plates]</a>
            </div>
        </md-toolbar>


        <div layout="row" layout-sm="column" layout-align="start center" style="margin-left: 100px; margin-top:100px; margin-bottom:40px">
            <div flex="10" >
                A2500
            </div>
            <div flex="10">
                Dubai
            </div>
        </div>

        <div layout="row" layout-align="center center" >
            <div id="container" style="height: 450px; width:90%"></div>
        </div>


        <div layout="row"   layout-align="center center" style="margin-top:100px;margin-left:20px">
                <md-button class="md-raised md-primary" style="background-color: #0086b3"   ng-click="openConfirmationDialog($event,'buy')"> Buy</md-button>
                <md-button class="md-raised md-primary" style="background-color: #0086b3"   ng-click="openConfirmationDialog($event,'sell')">Sell</md-button>
                <md-button class="md-raised md-primary" style="background-color: #0086b3"> <a href="https://twitter.com/share" style="color:rgba(255,255,255,0.87)">Tweet</a>
                </md-button>

        </div>

    </md-content>
</section>



