
<section layout="row" flex >

    <md-content flex style="max-height : 700px;">
        <md-toolbar layout="row" layout-align="start center" class="toolbar" style="background-color: white; border-bottom: 1px solid rgba(105,105,105,0.17);">

            <div flex="10">
                <a href="/">
                    <img src="../images/dash-logo.png" style="max-width:50px; max-height:50px">
                </a>

            </div>

            <div flex="50">

            </div>

            <div flex="10">
                <a href="https://www.dashroad.com" target="_blank" class="toolbar-links"> home</a>
            </div>

            <div flex="10">
                <a href="https://www.dashroad.com/blog" target="_blank" class="toolbar-links"> blog</a>
            </div>

            <div flex="10">
                <a href="https://www.dashroad.com/about" target="_blank" class="toolbar-links"> about</a>
            </div>

            <div flex="10">
                <a href="https://www.dashroad.com/plates" target="_blank" class="toolbar-links"> [plates]</a>
            </div>
        </md-toolbar>


        <div layout="row" layout-sm="column" layout-align="start center" style="margin-left: 100px; margin-top:70px; margin-bottom:40px">
            <div flex="10" >
                <md-button class="md-raised">Plate: {{inputObj.numberPlate}} </md-button>
            </div>
            <div flex="10">
                <md-button class="md-raised">Emirate: {{inputObj.emirate}}</md-button>
            </div>
            <div flex="10" style=" margin-left: 35px; ">
                <md-button class="md-raised md-primary">AED {{plateData.calculatedValue}}</md-button>
            </div>
        </div>

        <div layout="row" layout-align="center center" >
            <div id="container" style="height: 350px; width:90%"></div>
        </div>


        <div layout="row"    style="margin-top:20px; margin-left:100px">

            <div flex="10">
                <md-button class="md-raised md-primary" style="background-color: #0086b3"   ng-click="openConfirmationDialog($event,'buy')"> Buy</md-button>
            </div>
            <div flex="10">
                <md-button class="md-raised md-primary" style="background-color: #0086b3"   ng-click="openConfirmationDialog($event,'sell')">Sell</md-button>
            </div>

            <div flex="65">
            </div>

            <div flex="10">
                <md-button class="md-raised md-primary" style="background-color: #0086b3"> <a href="https://twitter.com/intent/tweet?text=Price of Plate '15' is AED {{plateData.calculatedValue}} %23dashplate" style="color:rgba(255,255,255,0.87)" target="_blank">Tweet</a></md-button>
            </div>


        </div>


    </md-content>
</section>



