
<section layout="row" flex >

    <md-content flex style="max-height : 700px;">
        <md-toolbar layout="row" layout-align="start center" class="toolbar" style="background-color: white">

            <div flex="10">
                <img src="../images/dash-logo.png" style="max-width:50px; max-height:50px">

            </div>

            <div flex="50">

            </div>

            <div flex="10">
                <a href="/" class="toolbar-links"> home</a>
            </div>

            <div flex="10">
                <a href="javascript:void(0)" class="toolbar-links"> blog</a>
            </div>

            <div flex="10">
                <a href="javascript:void(0)" class="toolbar-links"> about</a>
            </div>

            <div flex="10">
                <a href="javascript:void(0)" class="toolbar-links"> [plates]</a>
            </div>
        </md-toolbar>

        <div layout="row" layout-align="center center" style="margin-top:100px">
            <div flex="10">
                A2500
            </div>
            <div flex="10">
                Dubai
            </div>
        </div>

        <div layout="row" layout-align="center center" style="margin-top:100px">
            <div id="container" style="height: 300px"></div>
        </div>

    </md-content>
</section>



