
<section layout="row" flex >

	<md-content flex style="">
		<md-toolbar layout="row" layout-align="start center" class="toolbar" style="background-color: white">

            <div flex="10">
                <img src="../images/dash-logo.png" style="max-width:50px; max-height:50px">

            </div>

            <div flex="50">

            </div>

            <div flex="10">
                <a href="javascript:void(0)" class="toolbar-links"> home</a>
            </div>

            <div flex="10">
                <a href="javascript:void(0)" class="toolbar-links"> blog</a>
            </div>

            <div flex="10">
                <a href="javascript:void(0)" class="toolbar-links"> about</a>
            </div>

            <div flex="10">
                <a href="javascript:void(0)" class="toolbar-links"> [plates]</a>
            </div>

		</md-toolbar>

        <div layout="row" layout-align="center end" layout-fill>
            <img src="../images/dashplate-bg.png" class="bg" alt="image you want in background">
            <div style="width:30%; margin-top:100px" style="background-color:white !important;">
                <form name="form" layout="column" flex>
                    <md-input-container>
                        <label class="left-margin">Plate Number</label>
                        <input name="numberPlate" type="text" ng-model="numberPlate" required>
                    </md-input-container>

                    <md-input-container>
                        <md-select ng-model="emirate" placeholder="State" required>
                            <md-option value="Dubai">Dubai</md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container>
                        <label>Email</label>
                        <input name="email" type="email" ng-model="email" required>
                    </md-input-container>


                    <div ng-show="form.numberPlate.$touched" class="error-message">
                        <div ng-show="form.numberPlate.$error.required">First name is required</div>
                    </div>

                    <div ng-show="form.emirate.$touched" class="error-message">
                        <div ng-show="form.emirate.$error.required">Last name is required</div>
                    </div>


                    <div ng-show="form.email.$touched" class="error-message">
                        <div ng-show="form.email.$error.email">Invalid email</div>
                        <div ng-show="form.email.$error.required">Email is required</div>
                    </div>


                    <div layout="row" layout-align="end end">
                        <div flex="33">
                            <md-button class="md-raised md-primary" style="background-color:#ffed3e" ng-disabled="!form.$valid" ng-click="submitDetails()">Price It</md-button>
                        </div>

                    </div>

                </form>

            </div>
        </div>

	</md-content>
</section>


<style>

    .bg {
        /* Set rules to fill background */
        min-height: 100%;
        min-width: 1024px;

        /* Set up proportionate scaling */
        width: 100%;
        height: auto;

        /* Set up positioning */
        position: fixed;
        top: 0;
        left: 0;
    }
</style>

